:root {
	--color-dark01: #ffffff;
	--color-dark02: #d7d8d6;
	--color-dark03: #b0b1ae;
	--color-dark04: #898a86;
	--color-dark05: #62625e;
	--color-dark06: #3b3c36;
	--color-dark07: #2f302b;
	--color-dark08: #232420;
	--color-dark09: #171815;
	--color-dark10: #0b0c0a;

	--color-color01: #ffedcc;
	--color-color02: #ffdb99;
	--color-color03: #ffc966;
	--color-color04: #ffb732;
	--color-color05: #ffa500;
	--color-color06: #cc8400;
	--color-color07: #996300;
	--color-color08: #664200;
	--color-color09: #332100;

	--color-error: #e30022;
}

.swiper {
	position: relative;
	width: 56%;
	height: 400px;
	border: 0.4em solid var(--color-color08);
}

.swiper_slide {
	/* position: relative; */
	text-align: center;
	font-size: 18px;
	/* height: 15%; */
	background-color: var(--color-color09);

	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
}
.img {
	width: 100%;
	object-fit: cover;
}

.box_title {
	position: absolute;
	width: 27%;
	top: -3%;
	left: 0%;
	padding: 0.4em;
	background-color: var(--color-color08);
}

.title {
	color: var(--color-color01);
	font-size: 1.8em;
	font-weight: 200;
	text-align: left;
}
