:root {
	--color-dark01: #ffffff;
	--color-dark02: #d7d8d6;
	--color-dark03: #b0b1ae;
	--color-dark04: #898a86;
	--color-dark05: #62625e;
	--color-dark06: #3b3c36;
	--color-dark07: #2f302b;
	--color-dark08: #232420;
	--color-dark09: #171815;
	--color-dark10: #0b0c0a;

	--color-blue01: #ccf5f5;
	--color-blue02: #99ebec;
	--color-blue03: #66e1e3;
	--color-blue04: #32d7da;
	--color-blue05: #00ced1;
	--color-blue06: #00a4a7;
	--color-blue07: #007b7d;
	--color-blue08: #005253;
	--color-blue09: #002929;

	--color-error: #e30022;
}

.wrapper {
	width: 100%;
	display: flex;
	align-items: center;
}

.wrapper_main {
	width: 100%;
	margin-top: 2em;
	display: flex;
}
