:root {
	--color-dark01: #ffffff;
	--color-dark02: #d7d8d6;
	--color-dark03: #b0b1ae;
	--color-dark04: #898a86;
	--color-dark05: #62625e;
	--color-dark06: #3b3c36;
	--color-dark07: #2f302b;
	--color-dark08: #232420;
	--color-dark09: #171815;
	--color-dark10: #0b0c0a;

	--color-color01: #ffedcc;
	--color-color02: #ffdb99;
	--color-color03: #ffc966;
	--color-color04: #ffb732;
	--color-color05: #ffa500;
	--color-color06: #cc8400;
	--color-color07: #996300;
	--color-color08: #664200;
	--color-color09: #332100;

	--color-error: #e30022;
}

.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrapper_main {
	width: 100%;
	margin-top: 2em;
}

.heading {
	color: var(--color-color03);
	font-size: 2em;
	padding-bottom: 0.2em;
	border-bottom: 0.04em solid var(--color-color03);
}

.box_bestseller {
	margin-top: 2em;
	padding: 0em 2em;
	width: 100%;
	display: flex;
	justify-content: center;
}
